body{
    background: gray;
}

.student {
    background: black;
    color: white;
    text-align: center;
}
.yours {
    background: beige;
    margin-top: 0;
    margin: 15px,15px;
   
}
.contact {
    text-align: right;
   
}


a:link {color: red;}

